body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:465px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:111px;
  top:183px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:111px;
  top:28px;
  width:39px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:180px;
  top:56px;
  width:39px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:245px;
  top:52px;
  width:200px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:180px;
  top:91px;
  width:27px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:245px;
  top:84px;
  width:200px;
  height:22px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:180px;
  top:123px;
  width:52px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:245px;
  top:116px;
  width:200px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:245px;
  top:148px;
  width:167px;
  height:15px;
  color:#FF0000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:129px;
  top:54px;
  width:27px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:365px;
  top:183px;
  width:100px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:111px;
  top:2px;
  width:98px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
