body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:170px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:233px;
  top:51px;
  width:149px;
  height:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:140px;
  top:81px;
  width:335px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:104px;
  top:0px;
  width:226px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:130px;
  top:11px;
  width:212px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:370px;
  top:170px;
  width:100px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
